

/*默认样式*/
body, div, span, i, header, nav, footer, section, h1, h2, h3, h4, h5, h6, ul, li, table, td, tr, dd, dl{
	margin: 0;
	padding: 0;
}
html{

	font-family: "Open Sans", Arial, sans-serif;

}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.down-arrow{
	display: inline-block;
	padding: 0 3px;
	transform: rotate(90deg);
}

/*工具*/
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:before,
.clearfix:after{
	content: '';
	display: table;
}
.clearfix:after{
	clear: both;
}
.clearfix{
	*zoom: 1;
}
.hidden{
	display: none;
}
/*公用样式*/
.container{
	width: 808px;
	margin: 0 auto;
}