.content-third-sec{
    background-color: #3c414a;
    text-align: center;
}
.btn-our_process{
    background-color: transparent;
    border-color: #ebc49e !important;
}
.btn-a-our_process{
    color: #ebc49e;
}
.third-sec-title{
    color: #f3ede7;
}