.content-fifth-sec{
    background-color: #a84429;
    text-align: center;
}
.fifth-sec-title{
    color: #fff;
}
.fifth-sec-p{
    color: #fff;
}
.btn-view_shop{
    border-color: #fff;
}
.btn-a-view_shop{
    color: #fff;
}