
header{
	width: 100%;
	height: 46px;
	background-color: rgba(34,37,44,0.48);
	font-weight: bold;
	text-align: center;
    position: fixed;
}
.header-nav{
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
}
.header-nav-item {
    position: relative;
	display: inline-block;
	float: left;
}
.header-nav-item + .header-nav-item {
	padding-left: 22px;
}
.header-a{
    display: block;
    color: rgba(243,237,231,0.87);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
    transition: 0.3s;
}
.header-nav-a{
	line-height: 46px;
}
.header-a:hover{
    color: #4dca8e;
}
.drop-down{
    position: absolute;
    left: 22px;
    top: 46px;
    display: none;
    width: 240px;
    border-top: 3px solid #4dca8e;
    background-color: rgba(34,37,44,0.48);
    transition: 0.3s;
}
.header-nav-hover:hover .drop-down{
    display: inherit;
}
.drop-down-li{
    width: 200px;
    height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
}
.drop-down-li:nth-of-type(1){
    margin-top: 20px;
}
.drop-down-li:nth-last-of-type(1){
    margin-bottom: 20px;
}
.drop-down-a {
    text-align: left;
    line-height: 40px;
    color: rgba(243,237,231,0.87);
}