.sign-up{
    width: 100%;
    height: 500px;
    background: url("../images/casestudy-hero-bg.jpg")no-repeat;
    background-size: cover;
}
.sign-up-wrap {
    width: 100%;
    height: 100%;
    padding-top: 1px;
    box-sizing: border-box;
}
.sign-form{
    margin: 90px auto;
    width: 60%;
    max-width: 350px;
    border: 1px solid rgba(70, 100, 31, 0.23);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 30px 50px;
    background-color: #fff;
    animation: show 1s linear;
}

@keyframes show {
    0%{
        margin-top: 120px;
        opacity: 0;
    }
    100%{
        margin-top: 90px;
        opacity: 1;
    }
}

.form-input{
    display: block;
    margin-top: 10px;
    height: 40px;
    width: 90%;
    padding-left: 40px;
    border-radius: 5px;
    border: 1px solid rgba(70, 100, 31, 0.23);
    box-sizing: border-box;
    outline: none;
}
.form-input:focus{
    border: 1px solid rgba(42, 79, 251, 1);
    box-shadow: 0 0 5px rgba(42, 79, 251, 0.6);
}
.username-input{
    background: url("../images/login-icon.png") no-repeat 0 center;
}
.password-input{
    background: url("../images/pwd-icon.png") no-repeat 0 center;
}
.verify-code{
    display: inline-block;
    width: 90px;
    padding-left: 3px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.verifyImg{
    margin-top: 10px;
    cursor: pointer;
}
.form-btn{
    outline: none;
    height: 35px;width: 90px;
    margin-right: 15px;
    border-radius: 3px;
    border: 1px solid  #3c414a;
    cursor: pointer;
    background-color: transparent;
}
.submit-btn{
    color: #fff;
    background-color: #4dca8e;
    border: 1px solid #4dca8e;
}
.submit-btn:hover{
    background-color: #52ba7c;
}
.signIn-btn{
    border: 1px solid #838fa7;
}
.signIn-btn:hover{
    border: 1px solid #4dca8e;
    box-shadow: 0 0 5px #4dca8e;
}
.form-btn-a{
    display: block;
    color: #3c414a;
}
/*用户名及密码信息提示*/
.tips{
    color: rgba(255, 0, 0, 0.67);
    display: block;
    margin: 5px 0;
    padding-left: 10px;
    visibility: hidden;
    height: 14px;
    font-size: 12px;
    vertical-align: middle;

}

@media only screen and (max-width: 680px) {
    .sign-up-wrap {
        width: 100%;
        height: 100%;
        padding-top: 1px;
        box-sizing: border-box;
    }
    .sign-form{
        margin: 60px auto;
        width: 90%;
        max-width: 350px;
        min-width: 260px;
        border: 1px solid rgba(70, 100, 31, 0.23);
        border-radius: 5px;
        padding: 25px 25px;
        background-color: #fff;
        animation: show 1s linear;
    }
    .form-input{
        display: block;
        margin: 7px 0;
        height: 50px;
        width: 100%;
        padding-left: 40px;
        border-radius: 5px;
        border: 1px solid rgba(70, 100, 31, 0.23);
        box-sizing: border-box;
        outline: none;
    }
    .verify-code{
        display: inline-block;
        width: 45%;
        padding-left: 3px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .form-btn{
        display: block;
        outline: none;
        height: 50px;
        width: 100%;
        margin: 5px 0;
        border-radius: 3px;
        border: 1px solid  #3c414a;
        cursor: pointer;
        background-color: transparent;
    }
    .submit-btn{
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        background-color: #4dca8e;
        border: 1px solid #4dca8e;
    }
    .signIn-btn{
        background-color: RGB(65,105,225);
        border: 1px solid RGB(65,105,225);
    }
    .signIn-btn:hover{
        background-color: #045bb2;

    }
    .form-btn-a{
        display: block;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }
    @keyframes show {
        0%{
            margin-top: 90px;
            opacity: 0;
        }
        100%{
            margin-top: 60px;
            opacity: 1;
        }
    }
}